@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Comienza el Formulario */
.registro{ 
            width: 500px;
            background-color: #233;
            padding: 150px;
            margin: auto;
            font-family: 'Open Sans', sans-serif;
            color: white;      
            box-shadow: 7px 13px 37px #000;      
}

.registro h4{
        font-size: 22px;
        margin-bottom: 20px;
}

.controls{
        width: 100%;
        background-color: white;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 15px;
        border: 1px solid #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
}

.boton{
    background-color: black;
    width: 100%;
    border-radius: 4px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size:  16px;
}
/* Termina el formulario */
html{
    scroll-behavior: smooth;
}
header{
    height: 80px;
    width: 100%;
    background-color: springgreen;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-shadow: 0 0 5px #233;
}

header a{
    float: right;
    text-decoration: none;
    list-style: none;
    display: inline block;
}

.barra{
    float: right;
}

.contacto2{
    height: 80px;
    width: 100%;
    background-color: springgreen;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-shadow: 0 0 5px #233;
}

.inicio{
float: right;
}



.menu{
    float: right;
    font: size 27px;
}

.logo span{
        color: #233;
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
}

main{
    background-image: url(media/vegetables-752153_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.call{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid #000 ;
    border-radius: 5px;
    float: right;
    margin: 20px;
    padding: 20px;
}

h1{
    color:springgreen ;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;

}
.call p{
    color: #fff;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
}

.callb{
        background-color: springgreen;
        text-decoration: none;
        color: #333;
        padding: 10px 20px;
        font-family: 'Open Sans', sans-serif;
    }
h2{
    background-color: springgreen;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    text-shadow: 0 0 5px #233;
    font-size: 27px;
    padding: 10px;
}
.nosotros{
    width: 100%;
    height: 450px;
    background-color: #233;
    font-style: normal; color: #fff;
}
.nleft{
        background-image: url(media/vegetables-752153_1920.jpg);
        height: 50%;
        width: 100%;
        background-size: cover;
        background-position: center;
  }

.nright{
        padding: 20px;
} 

.nright h3{
    text-align: center;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    font-style: normal; color: #FFF;
}

.nright p{
   
    text-align: center;
    font-size: 15px;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
} 

.galeria{
    background-color: #333;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 20px;
    padding: 20px;
    
}

.item{
    width: 100%;
    border: 2px solid #fff;

}

.item1{
    background-image: url(media/item1.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}

.item1:hover{
            width: 100px;
            height: 100px;
            transform: scale(3)
}
.item2{
    background-image: url(media/item2.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item2:hover{
    width: 100px;
    height: 100px;
    transform: scale(2)
}

.item3{
    background-image: url(media/item3.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item3:hover{
    width: 30vh;
    height: 30vh;
    transform: scale(2)
}
.item4{
    background-image: url(media/item4.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item4:hover{
    width: 100px;
    height: 100px;
    transform: scale(2)
}
.item5{
    background-image: url(media/item5.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item5:hover{
    width: 100px;
    height: 100px;
    transform: scale(2)
}
.item6{
    background-image: url(media/item6.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item6:hover{
    width: 100px;
    height: 100px;
    transform: scale(2)
}
.item7{
    background-image: url(media/item7.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item7:hover{
    width: 100px;
    height: 100px;
    transform: scale(2)
}
.item8{
    background-image: url(media/item8.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    object-fit: cover;
}
.item8:hover{
    width: 100px;
    height: 100px;
    transform: scale(2)
}
.mapa{
        margin-top: auto;
        padding: 10px;;
}
footer{
    background-color: springgreen;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 15px;
}

footer .redes{
    margin-top: 15px;
    letter-spacing: 10px;
}
footer i{
    font-size: 40PX;
    color: #FFF;
    text-shadow: 0 0 5px #000;
    letter-spacing: 10px;
}

@media only screen and (min-width: 480px){
    .nosotros{
        display: flex;
    }
    .nleft{
        width: 50%;
        height: 100%;
    }
    .nright{
        width: 50%;
        height: 100%;
    }
.galeria{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
}
}

@media only screen and (min-width: 768px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item8{
        grid-column: 1/3;
        grid-row: 4/5;
    }
}
.subir{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 2px solid rgb(0, 0, 0);
    position: fixed;    
    right: 20px;
    bottom: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(255, 255, 255);
   }